<a href="https://colab.research.google.com/github/Kimdonghyun95/mobile-net/blob/main/07_26_digging_triangle_v01(FIN).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

***Weight,Bias***

In [ ]:
w1 = np.array([-10,1])
b1 = -1.1

w2 = np.array([10,120])
b2 = 11

w3 = np.array([1,1])
b3 = -1.8

In [ ]:
print(w1)
print(b1)
print(w2)
print(b2)
print(w3)
print(b3)

[-10   1]
-1.1
[ 10 120]
11
[1 1]
-1.8

----

***1,2 GRAHP***

In [ ]:
def NAND1 (x1, x2) :
  x = np.array([x1,x2])
  w = w1
  b = b1
  temp = np.sum(w*x)+b

  if temp<0 :
    return 1
  else :
    return 0

In [ ]:
print(NAND1(0,0))
print(NAND1(1,0))
print(NAND1(0,1))
print(NAND1(1,1))

1
1
1
1

In [ ]:
def OR2 (x1, x2) :
  x = np.array([x1,x2])
  w = w2
  b = b2
  temp = np.sum(w*x)+b

  if temp>0 :
    return 1
  else :
    return 0

In [ ]:
print(OR2(0,0))
print(OR2(1,0))
print(OR2(0,1))
print(OR2(1,1))

1
1
1
1

In [ ]:
def AND (x1,x2) :
  x = np.array([x1,x2])
  w = np.array([0.5, 0.5])
  b = -0.7
  temp = np.sum(w*x)+b
  if temp>0 :
    return 1
  else :
    return 0

In [ ]:
print(AND(0,0))
print(AND(1,0))
print(AND(0,1))
print(AND(1,1))

0
0
0
1

In [ ]:
def XOR(x1, x2):
  y1=NAND1(x1, x2)
  y2=OR2(x1, x2)
  y3=AND(y1, y2)
  return y3

In [ ]:
print(XOR(0,0))
print(XOR(1,0))
print(XOR(0,1))
print(XOR(1,1))

1
1
1
1

-------------------------

# 3 GRAPH

In [ ]:
def NAND3 (x1, x2) :
  x = np.array([x1,x2])
  w = w3
  b = b3
  temp = np.sum(w*x)+b

  if temp<0 :
    return 1
  else :
    return 0

In [ ]:
print(NAND3(0,0))
print(NAND3(1,0))
print(NAND3(0,1))
print(NAND3(1,1))

1
1
1
0

In [ ]:
def AND1(x1, x2):
  y4=NAND3(x1, x2)
  y5=XOR(x1, x2)
  y6=AND(y4, y5)
  return y6

In [ ]:
print(AND1(0,0))
print(AND1(1,0))
print(AND1(0,1))
print(AND1(1,1))

1
1
1
0